<div id="content" class="h-100 border-left border-dark pl-2">
    <div class="all m-perso">
        <div class="list" *ngFor="let user of getAllUsers()">
            <img src="../../../../assets/img/unknow_profil.jpg" class="image" alt="pdp">
            <span class="pl-3"> {{user.prenom}} <span class="text-success" style="font-size: 3em;">.</span></span>
            <button class="btn btn-primary" (click)="addFriend(user._id)">Add</button>
        </div>
    </div>
    <div class="search pr-2">
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text">L</span>
            </div>
            <input type="text" class="form-control" placeholder="Recherche" style="border-bottom: 0;">
        </div>
    </div>
</div>