<div class="modal-header bg-dark text-light">
    <h4 class="text-light">Connexion</h4>
    <span aria-hidden="true" style="cursor: pointer;" (click)="activeModal.dismiss('Cross click')">&times;</span>
</div>

<div class="modal-body">
    <form class="w-75 m-auto" [formGroup]="form" (submit)="login()">
        <div class="form-group mt-5">
            <input type="email" name="email" id="email" class="form-control" placeholder="Votre email" formControlName="email">
        </div>
        <div class="form-group mt-5">
            <input type="password" name="password" id="password" class="form-control" placeholder="Votre mot de passe" formControlName="password">
        </div>
        <div class="form-group mt-5">
            <button class="btn btn-primary">connexion</button>
        </div>
    </form>
</div>