<div class="container">
    <div class="row">
        <div class="col-lg-4 content">
            <div class="card">
                <div class="card-header">
                    <h1>Title</h1>
                </div>
                <div class="card-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate officiis eius quos temporibus nesciunt! Esse rerum, illo corrupti placeat eos pariatur possimus ab incidunt doloremque, delectus soluta saepe vel nobis.
                </div>
            </div>
        </div>
        <div class="col-lg-4 content">
            <div class="card">
                <div class="card-header">
                    <h1>Title</h1>
                </div>
                <div class="card-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate officiis eius quos temporibus nesciunt! Esse rerum, illo corrupti placeat eos pariatur possimus ab incidunt doloremque, delectus soluta saepe vel nobis.
                </div>
            </div>
        </div>
        <div class="col-lg-4 content">
            <div class="card">
                <div class="card-header">
                    <h1>Title</h1>
                </div>
                <div class="card-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate officiis eius quos temporibus nesciunt! Esse rerum, illo corrupti placeat eos pariatur possimus ab incidunt doloremque, delectus soluta saepe vel nobis.
                </div>
            </div>
        </div>
    </div>
</div>