<div class="dialog">
    <div class="card">
        <div class="card-header bg-dark">
            <img src="../../../../assets/img/unknow_profil.jpg" class="image" alt="pdp">
            <span class="pl-3">Rakoto lita</span>
        </div>
        <div class="card-body p-0" style="height: 350px;">
            <div id="boit-scroll" class="boit w-100 h-75 p-3" style="overflow: auto;">
                <div *ngFor="let discution of getDiscution">
                    <div class="row" *ngIf="getToSend == discution.from_id">
                        <div class="col-lg-2">
                            <img src="../../../../assets/img/unknow_profil.jpg" class="image" alt="pdp">
                        </div>
                        <div class="col-lg-10">
                            <p class="p-3 message ">{{discution.message}}</p>
                        </div>
                    </div>
                    <div class="row" *ngIf="getUserId == discution.from_id">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8">
                            <p class="p-3 message bg-primary">{{discution.message}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 h-25">
                <form [formGroup]="formSearch" (submit)="sendMessage()">
                    <div class="form-group">
                        <input type="text" name="message" id="message" class="form-control" formControlName="message" placeholder="Ecrivez un message...">
                        <button class="btn btn-primary mt-2">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
