<footer class="mt-5">
    <div class="jumbotron text-center bg-dark" style="margin-bottom:0">
        <div class="foot">
            <H4>Réseaux sociaux</H4>
            <img src="../../../assets/img/rs/facebook.svg" alt="facebook" class="img-foot">
            <img src="../../../assets/img/rs/twitter.svg" alt="twitter" class="img-foot">
            <img src="../../../assets/img/rs/instagram.svg" alt="instagram" class="img-foot">
            <img src="../../../assets/img/rs/framasphere.svg" alt="framasphere" class="img-foot">
        </div>
    </div>
</footer>