/* You can add global styles to this file, and also import other style files */
.container {
    margin-top: 100px;
}

.form-control {
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn {
    border-radius: 0;
}