/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(47, 47, 49);
    color: white;
    margin: 0;
    height: 100%;
    width: 100%;
}
.container {
    margin-top: 100px;
}

.form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid black;
}

.btn {
    border-radius: 0;
}

.nav-item {
    cursor: pointer;
}

.bg-dark {
    background-color: rgb(47, 47, 49);
}

.m-perso {
    margin-top: 80px;
}