<!--<div class="w-100">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-3 mb-5 bg-dark shadow" >
                        <form>
                            <div class="form-group">
                                <textarea name="pub" id="" cols="10" rows="3" class="form-control" placeholder="votre article"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button class="btn btn-primary">Publié</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-3 mb-5 bg-dark shadow">
                        <img src="../../../../assets/img/unknow_profil.jpg" class="image" alt="pdp">
                        <span class="pl-3">Rakoto lita</span>
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa veritatis esse corrupti assumenda ab non dolores, nam modi repudiandae laboriosam est quasi facere, quae nobis reiciendis officia aliquam, dignissimos dolorem?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>-->
<mat-card class="shadow">
  <mat-card-header>
    <img src="../../../../assets/img/unknow_profil.jpg" class="image" alt="pdp">
    <mat-card-title>Rakoto lita</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon matBadge="15" matBadgeColor="warn">like</mat-icon>
    <mat-icon>share</mat-icon>
  </mat-card-actions>
</mat-card>
